@model LoginUserDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="~/web/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="~/web/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="~/web/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/web/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/web/css/nouislider.min.css">
	<link rel="stylesheet" href="~/web/css/ionicons.min.css">
	<link rel="stylesheet" href="~/web/css/plyr.css">
	<link rel="stylesheet" href="~/web/css/photoswipe.css">
	<link rel="stylesheet" href="~/web/css/default-skin.css">
	<link rel="stylesheet" href="~/web/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="~/web/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="~/web/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/web/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/web/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/web/icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>İzle Giriş Yap</title>

</head>
<body class="body">

	<div class="sign section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->



						<form action="#" class="sign__form" method="post">
							<a href="~/web/index.html" class="sign__logo">
								<img src="~/web/img/logo.svg" alt="">
							</a>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Kullanıcı Adı" asp-for="UserName">
								<span asp-validation-for="UserName" class="text-warning"></span>
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Şifre" asp-for="Password">
								<span asp-validation-for="Password" class="text-warning"></span>
							</div>

							<button class="sign__btn" type="submit">Giriş Yap</button>

							<span class="sign__text">Hesabın Yok Mu? <a href="/Register/Index/">Kayıt Ol!</a></span>

							<span class="sign__text"><a href="#">Forgot password?</a></span>
						</form>


						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="~/web/js/jquery-3.3.1.min.js"></script>
	<script src="~/web/js/bootstrap.bundle.min.js"></script>
	<script src="~/web/js/owl.carousel.min.js"></script>
	<script src="~/web/js/jquery.mousewheel.min.js"></script>
	<script src="~/web/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="~/web/js/wNumb.js"></script>
	<script src="~/web/js/nouislider.min.js"></script>
	<script src="~/web/js/plyr.min.js"></script>
	<script src="~/web/js/jquery.morelines.min.js"></script>
	<script src="~/web/js/photoswipe.min.js"></script>
	<script src="~/web/js/photoswipe-ui-default.min.js"></script>
	<script src="~/web/js/main.js"></script>
</body>

</html>